{% extends "layouts/main.html" %}

{% set pageName="Date filter demo" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
      <h2 class="govuk-heading-l">Documentation</h2>
      <p class="govuk-body">
        <a href="https://sites.google.com/view/gds-prototype-guide/advanced-things/date-and-time-filter" class="govuk-link" rel="noreferrer noopener" target="_blank">
          Rich's prototype kit documentation (opens in new tab)</a>
      </p>
      <p class="govuk-body">
        <a href="https://x-govuk.github.io/govuk-prototype-filters/date/" class="govuk-link" rel="noreferrer noopener" target="_blank">
          X gov filters (opens in new tab)</a>
      </p>
      <h2 class="govuk-heading-l">About</h2>
      <p class="govuk-body">Here are some hard coded dates that we will turn into
        dynamic dates. We will also do some calculations on these dates.</p>
      <p class="govuk-body"><a href="https://github.com/titlescreen/xgov-date-filter-demo/tree/filters-added-and-examples-made" class="govuk-link" rel="noreferrer noopener" target="_blank">
        Pull this branch to see the end product</a></p>
      <h2 class="govuk-heading-l">Dates examples</h2>
      <p class="govuk-body">Today's date is {{ "today" | govukDate }}</p>
      <p class="govuk-body">Tomorrow's date is {{ "today" | duration(1) | govukDate }}</p>
      <p class="govuk-body">Yesterday's date is {{ "today" | duration(-1) | govukDate }}</p>
      <p class="govuk-body">In 1 week it will be {{ "today" | duration(1 , "week") | govukDate }}</p>
      <p class="govuk-body">In 2 months it will be {{ "today" | duration(2, "months") | govukDate }}</p>
      <p class="govuk-body">In 2.5 months it will be {{ "today" | duration(2.5, "months") | govukDate }}</p>
      </div>
  </div>
{% endblock %}
